<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formulário</title>
  </head>
  <body>
    <h1>Formulário de peças</h1>
    <form method="POST" action="/">
      <label for="nomePeca">Nome da peça:</label>
      <input type="text" id="nomePeca" name="nomePeca"><br>

      <label for="nomeVeiculo">Nome do veículo:</label>
      <input type="text" id="nomeVeiculo" name="nomeVeiculo"><br>

      <label for="anoModelo">Ano/Modelo:</label>
      <input type="text" id="anoModelo" name="anoModelo"><br>

      <label for="codigoPeca">Código da peça:</label>
      <input type="number" id="codigoPeca" name="codigoPeca"><br>

      <label for="valorPeca">Valor da peça:</label>
      <input type="text" id="valorPeca" name="valorPeca"><br>

      <label for="descricaoPeca">Descrição da peça:</label>
      <textarea id="descricaoPeca" name="descricaoPeca"></textarea><br>

      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
